<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="Wallpaper.HD">

    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE " />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".setting"></activity>
        <activity android:name=".KlikGambar4_5" />
        <activity android:name=".KlikGambar4_4" />
        <activity android:name=".KlikGambar4_3" />
        <activity android:name=".KlikGambar4_2" />
        <activity android:name=".KlikGambar4_1" />
        <activity android:name=".KlikGambar4" />
        <activity android:name=".KlikGambar3_5" />
        <activity android:name=".KlikGambar3_4" />
        <activity android:name=".KlikGambar3_3" />
        <activity android:name=".KlikGambar3_2" />
        <activity android:name=".KlikGambar3_1" />
        <activity android:name=".KlikGambar3" />
        <activity android:name=".TampilGambar4" android:theme="@style/AppTheme2"/>
        <activity android:name=".TampilGambar3" android:theme="@style/AppTheme2"/>
        <activity android:name=".KlikGambar2_5" />
        <activity android:name=".KlikGambar2_4" />
        <activity android:name=".KlikGambar2_3" />
        <activity android:name=".KlikGambar2_2" />
        <activity android:name=".KlikGambar2_1" />
        <activity android:name=".KlikGambar1_3" />
        <activity android:name=".KlikGambar1_5" />
        <activity android:name=".KlikGambar1_4" />
        <activity android:name=".MainActivity" android:theme="@style/AppTheme2"/>
        <activity android:name=".KlikGambar1_2" />
        <activity android:name=".KlikGambar1_1" />
        <activity android:name=".Album" />
        <activity android:name=".TampilGambar2" android:theme="@style/AppTheme2" />
        <activity android:name=".TampilGambar1" android:theme="@style/AppTheme2" />
        <activity android:name=".KlikGambar2" />
        <activity
            android:name=".KlikGambar1"
            android:parentActivityName=".SplashScreen" />
        <activity android:name=".SplashScreen" android:theme="@style/AppTheme2">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Preference" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_path" />
        </provider>
    </application>

</manifest>